<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/src/CSS/bootstrap.min.css}" >
    <title>Create Form</title>
</head>
<body>
    <div class="container">
        <br>
        <h1>Create Form</h1>
        <br>

        <form method="post" action="CreateForm.html">
            <div class="form-group">
                <label for="exampleInput">Title</label>
                <input type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="exampleInput1">Description</label>
                <textarea class="form-control" id="exampleInput1" placeholder="Description"></textarea>

            </div>
            <div class="form-group">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" class="btn btn-outline-success" href="Home">Back</a>
        </form>

    </div>
</body>
</html>